<div class="max-w-4xl mx-auto p-6">
  <!-- Card chính -->
  <div
    class="bg-white/70 backdrop-blur-xl rounded-[32px] p-8 border border-white shadow-2xl shadow-blue-100/50"
  >
    <div class="flex items-center gap-6 mb-10">
      <!-- Avatar lớn -->
      <div class="relative">
        <img
          [src]="currentUser()?.username"
          class="w-24 h-24 rounded-[24px] object-cover ring-4 ring-[#2ac2d5]/20 shadow-lg"
          alt="User Avatar"
        />
        <div
          class="absolute -bottom-2 -right-2 bg-emerald-500 w-6 h-6 rounded-full border-4 border-white"
        ></div>
      </div>

      <div>
        <h1 class="text-3xl font-bold text-slate-800 tracking-tight">
          Chào buổi sáng, {{ currentUser()?.username }}!
        </h1>
      </div>
    </div>

    <!-- Grid thông số -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-[#f0fbfb] p-6 rounded-[24px] border border-[#d6f4f7]">
        <span class="text-[11px] font-bold text-[#2ac2d5] uppercase tracking-widest block mb-2"
          >Chức vụ hệ thống</span
        >
        <span class="text-xl font-bold text-slate-700">{{ currentUser()?.phone }}</span>
      </div>

      <div class="bg-slate-50 p-6 rounded-[24px] border border-slate-100">
        <span class="text-[11px] font-bold text-slate-400 uppercase tracking-widest block mb-2"
          >Email đăng ký</span
        >
        <span class="text-lg font-semibold text-slate-700">{{ currentUser()?.email }}</span>
      </div>
    </div>

    <!-- Nút hành động nhanh -->
    <div class="mt-8 flex gap-3">
      <button mat-flat-button class="!bg-slate-900 !text-white !rounded-2xl !px-6 !py-6">
        <mat-icon class="me-2">edit</mat-icon> Chỉnh sửa hồ sơ
      </button>
      <button mat-stroked-button class="!rounded-2xl !px-6 !py-6 !border-slate-200">
        <mat-icon class="me-2">lock</mat-icon> Đổi mật khẩu
      </button>
      <button
        mat-stroked-button
        class="!rounded-2xl rounded-[50px] border border-[#d6f4f7] !px-6 !py-6"
        (click)="onLogout()"
      >
        <mat-icon class="me-2">exit_to_app</mat-icon> Sign out
      </button>
    </div>
  </div>
</div>
